.view-rooms {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  padding: 2em;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.form-control {
  background-color: transparent;
  border: 1px solid #555;
  color: #fff;

}

.btn-primary {
  background-color: #333;
  border: 1px solid #555;
}

.buildings-container {
  width: 100%;
  margin-top: 2em;
}

.center-container {
  text-align: center;
  margin: 1em;
}

.building-1 {
  display: inline-block;
  background-color: #1e1e1e;
  border: 1px solid #4a4a4a;
  color: #fff;
  padding: 1em;
  text-decoration: none;
  border-radius: 4px;
  margin: 1em;
  transition: background-color 0.3s;
}

.building-1:hover {
  background-color: #333;
}

.delete-building, .edit-building {
  display: inline-block;
  background-color: #fffefe;
  border: 1px solid #f8f4f4;
  color: #fff;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 4px;
  margin: 0.5em;
  transition: background-color 0.3s;
}

.delete-building:hover, .edit-building:hover {
  background-color: #444;
}

.bi-trash, .bi-pen {
  vertical-align: middle;
}
