.upload-buildings {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  padding-top: 2em;
}
.form-group{
  margin-top: 15px;
}
.building-upload-form-div {
  background-color: #1e1e1e;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
  color: #ffffff;
  border: 1px solid #4a4a4a;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.2); /* Slightly more opaque when focused */
  color: #ffffff;
  border-color: #007bff;
  box-shadow: none;
}

.form-check-input {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
  border-color: #4a4a4a;
}

.form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.form-check-label {
  color: #ffffff;
}

.btn-submit {
  /* background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 4px;
  transition: background-color 0.3s; */
  background-color: #000000;
  border: 1px solid #6f7071;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(230, 226, 226, 0.1);
  font-weight: 600;
  margin-top: -35px;
}

.btn-submit:hover {
  background-color: #0056b3;
}

label {
  color: #ffffff;
}

::placeholder {
  color: #b3b3b3;
}
