.box-3 {
  display: block;
  padding: 1em;
  background-color: #000000;
  border: 1px solid #6f7071;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(230, 226, 226, 0.1);
  font-weight: 600;
}

.box-3:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

